# Python Programming Language Assignment # 1

# Question # 01

In [1]:
print ('''
Twinkle, twinkle, little star,
      How I wonder what you are!
            Up above the world so high,
            Like a diamond in the sky.

Twinkle, twinkle, little star,
      How I wonder what you are
''')

Twinkle, twinkle, little star,
      How I wonder what you are!
            Up above the world so high,
            Like a diamond in the sky.

Twinkle, twinkle, little star,
      How I wonder what you are

# Question # 02

In [ ]:
import sys
print("Python version :")
print(sys.version)

# Question # 03

In [15]:
from datetime import datetime
current_time = datetime.now()
print("Current Date & Time :")
print(current_time)

Current Date & Time :
2021-10-23 16:22:35.707136

# Question # 04

In [2]:
import math

radius = int(input("enter the radius value : "))

math.pi *(radius**2)

enter the radius value : 25

1963.4954084936207

# Question # 05

In [1]:
firstName = input("Write your first name ")
lastName = input("Write your last name ")

print(lastName + " " + firstName)

Write your first name Anas
Write your last name Shah
Shah Anas

# Question # 06

In [12]:
num1 = int(input("Enter first value: "))
num2 = int(input("Enter second value: "))

eval('num1 + num2')

Enter first value: 5
Enter second value: 5

10

# Question # 07

In [3]:
sub1 = int(input("Math = "))

sub2 = int(input("English = "))

sub3 = int(input("Physics = "))

sub4 = int(input("Chemistry = "))

sub5 = int(input("Computer Studies = "))

totalMarks = 500
 
if sub1 >= 0 and sub1 <= 100 and sub2 >= 0 and sub2 <= 100 and sub3 >= 0 and sub3 <= 100 and sub4 >= 0 and sub4 <= 100 and sub5 >= 0 and sub5 <= 100 :
    totalObt = (sub1 + sub2 + sub3 + sub4 + sub5)
    per = 100/totalMarks*totalObt
    print(str( totalObt) + " Marks out of " + str(totalMarks))
    print("Percentage: " + str(per) + "%")
    
    if per >= 80 and per <= 100 :
        print("Grade: 'A+'")
    elif per >= 70 and per < 80 :
        print("Grade: 'A'")
    elif per >= 60 and per < 70 :
        print("Grade: 'B'")
    elif per >= 50 and per < 60 :
        print("Grade: 'C'")
    elif per >= 40 and per < 50 :
        print("Grade: 'D'")
    elif per >= 33 and per < 40 :
        print("Grade: 'E'")
    elif per >= 0 and per < 33 :
        print("Grade: 'Fail'")
        
else:
    print("Each subject marks should be between 0 - 100!")

Math = 65
English = 85
Physics = 84
Chemistry = 73
Computer Studies = 95
402 Marks out of 500
Percentage: 80.4%
Grade: 'A+'

# Question # 08

In [4]:
user_input = int(input("Enter any number "))

if user_input % 2 == 0 :
    print(user_input, "Number is EVEN")
    
else :
        print(user_input, "Number is ODD")

Enter any number 65
65 Number is ODD

# Question # 09

In [5]:
list = ['string',23,'true','null',"name"]
len(list)

5

# Question # 10

In [6]:
item_list = [1, 1, 2, 3, 'str', 5, 8, 13, 'str', 21,  55, 89]
x = 0 

for num in item_list:
    if type(num) == int:
        x += num
    
print(x)

198

# Question # 11

In [7]:
list2 = [1, 1, 2, 3, 5, 8, 13, 21,  55, 89]
max(list2)

89

# Question # 12

In [8]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for y in a:
    if y < 5 :
        print(y)

1
1
2
3